*/node_modules
*.log
dist
coverage
*.env
.DS_Store
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.env.*
*.local
*.gitignore
*/dist
*/build
*.tsbuildinfo
*.cache
*.eslintcache
*.prettiercache
*/.gitignore
.gitignore
